$primary: #dad3e2;
$secondary: #f18509;
$bg-dark: #11091d;

$bg-route-header: #201e22;
$clr-route-header: whitesmoke;

$clr-button: whitesmoke;
$bg-button: #1a0f2c;
$bg-button-hover: #5000d1;


$bg-table-header: #3f3e41;
$clr-table-header: whitesmoke;




