$primary: #dad3e2;
$secondary: #f18509;
$bg-dark: #11091d;

$bg-route-header: whitesmoke;
$clr-route-header: rgb(0, 0, 0);

$clr-button: whitesmoke;
$bg-button: #20172e;
$bg-button-hover: #454904;


$bg-table-header: #3f0c02;
$clr-table-header: whitesmoke; 




