$primary: #dad3e2;
$secondary: #f18509;
$bg-dark: #11091d;

$bg-route-header:#0B0410;// #2b1749;
$clr-route-header: rgb(225, 236, 227);
$route-header-fontsize: 25px;

$clr-button: rgb(68, 2, 99);
$bg-button: #ffffff;
$bg-button-hover: #fdfdfd;


$bg-table-header: #343A40;
$clr-table-header: #fdf6e2; 




